<div class="row">
  <div class="col-md-6">
    <plotly-plot [data]="barChart.data"
                 [layout]="barChart.layout"
                 [useResizeHandler]="true"></plotly-plot>
  </div>
  <div class="col-md-6">
    <plotly-plot [data]="lineChart.data"
                 [layout]="lineChart.layout"
                 [useResizeHandler]="true"></plotly-plot>

  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <plotly-plot [data]="pieChart.data"
                 [layout]="pieChart.layout"
                 ></plotly-plot>
  </div>
  <div class="col-md-6">

  </div>
</div>
