
<div class="row justify-content-center">
    <div class="col-md-4 align-self-center">
        <form>
        <input class="form-control" name="oldPassword" type="password" placeholder="Enter old password" [(ngModel)]="oldPassword" style="margin-bottom: 10px;" required/>
        <input class="form-control" name="newPassword" type="password" placeholder="Enter new password" [(ngModel)]="newPassword" style="margin-bottom: 10px;" required/>
        <button type="button" class="btn btn-block btn-success" (click)="doChangePassword()">Change Password</button>
    </form>
    </div>
</div>

