/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$icon-color: #bda528;
$base-color: #050d1287;

mat-toolbar {
  /*background: linear-gradient(to left, rgba(102, 126, 234, 0.5), rgba(118, 75, 162, 0.5)) !important;*/
  background: linear-gradient(to left, #0e3e6fd9, #0c3721a8) !important;
  color: white;
}

.base-color {
    color: $base-color;
}

.icon-color {
  color: $icon-color;
}

.is-active {
    background-color: white;
}

.mat-drawer-container {
  background-color: #e5dfdf !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
